<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  
<body> 
    <options>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/index">Back</a><br><br>
        </div>
    </options>
    <optionsButNoBack style="font-size: 25px">
        <h1 style="text-decoration:underline">
        About the Developer
        </h1>
        <div style="display:flex; flex-direction:row">
            <img src="/images/jimmy.jpeg" alt="Picture of Me! :)" style="background: rgba(190, 189, 189, 0.5); padding:15px; min-width:300px; max-width:350px; min-height:307px"/>
            <options style="font-size:25px; max-width:700px; padding:15px">
                <text>I am an undergraduate at Brandeis University pursuing a B.S degree in Computer Science. I have always had a mindset of perseverance, and I welcome all forms of collaboration with others. I have experience with Java, Python, HTML, Javascript, and Node.js from school courses and independent projects made for fun. During my spare time, I also enjoy playing videogames and teaching code to younger kids.</text>
            </options>
        </div>
        <br>
        <options style="display: flex; flex-direction:row; font-size: 25px; padding:15px">
        <a style="text-decoration:underline; color:blue" href="https://www.linkedin.com/in/jamesdemingkong/">Linkedin</a>
        <text> | </text>
        <a style="text-decoration:underline; color:blue" href="https://github.com/jameskong098">Github</a>
        </options>
    </optionsButNoBack>
</body>