<head>
  <title>Max Goodman's Website</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body> 
  <options>
      <div class="backButton" id="button-2">
          <div id="slide"></div>
          <a href="/index">Back</a><br><br>
      </div>
  </options>
  <optionsButNoBack style="font-size: 25px">
      <h1 style="text-decoration:underline; width: 600px; text-align:center">
      About Me
      </h1>
      <div style="display:flex; flex-direction:column; width:950px; align-items:center">
          <img src="/images/Max.jpg" alt="Picture of Me! :)" style="background: rgba(190, 189, 189, 0.5); padding:15px; min-width:300px; max-width:350px; min-height:307px"/><br>
          <form method="post" action="/about/edit/save">
            <options style="font-size:21px; padding:15px">
                <% if (!edit) { %>
                  <optionsButNoBack style="font-size:21px; padding:10px;">
                    <text class="textFormat" style="width:950px"><%= about[0].description%></text>
                  </optionsButNoBack>
                  <% }
                  else { %>
                      <textarea style="resize: none; margin-top:15px" name="description" rows="20" cols="80" maxlength="4000" required><%= about[0].description%></textarea>
                      <input type="hidden" name="aboutId" value="<%= about[0]._id%>">
                  <% } %>
                <% if (loggedIn) { %>
                  <div style="display:flex; flex-direction:row; margin-top:15px; margin-bottom:5px; color: white; align-items:center">
                    <% if (!edit) { %>
                        <a href="/about/edit/">[Edit]</a>
                    <% } %>
                    <% if (edit) { %>
                        <button class="b1" type="submit" style="background:none; border:none; cursor:pointer;">Save</button>
                        <a style="margin-left: 360px; font-size:35px" href="/about">Cancel</a>
                    <% } %>
                  </div>
                <% } %>
            </options>
        </form>
      </div>
      <options style="display: flex; flex-direction:row; font-size: 25px; padding:15px; margin-top:20px">
        <a style="text-decoration:underline" href="https://vimeo.com/maxgoodman">Vimeo</a>
        <text> | </text>
        <a style="text-decoration:underline" href="mailto: mggoodman2002@gmail.com">mggoodman2002@gmail.com</a>
      </options>
  </optionsButNoBack>
</body>
