<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  
<body> 
    <options>
        <div class="backButton" id="button-2">
            <div id="slide"></div>
            <a href="/index">Back</a><br><br>
        </div>
    </options>
    <optionsButNoBack style="font-size: 25px">
        <h1 class="aboutTitle">
        About the Developer
        </h1>
        <div style="display:flex; flex-direction:column; width:1000px; align-items:center">
            <img src="/images/jimmy.jpeg" alt="Picture of Me! :)" style="background: rgba(0, 0, 0, 0.6); padding:15px; width:400px; height:400px"/><br>
            <options style="font-size:25px; padding:15px; text-align:center">
                <text class="textFormat">James Kong is an undergraduate at Brandeis University pursuing a B.S degree in Computer Science with a minor in Business. He has always had a mindset of perseverance, and welcomes all forms of collaboration with others. He has experience with Java, Python, HTML, Javascript, and Node.js from school courses and independent projects made for fun. During his spare time, he also enjoys playing videogames and teaching code to younger kids.</text>
            </options>
        </div>
        <br>
        <options style="display: flex; flex-direction:row; font-size: 25px; padding:15px">
        <a style="text-decoration:underline" href="https://www.linkedin.com/in/jamesdemingkong/">Linkedin</a>
        <text> | </text>
        <a style="text-decoration:underline" href="https://github.com/jameskong098">Github</a>
        <text> | </text>
        <a style="text-decoration:underline" href="mailto: jameskong098@gmail.com">jameskong098@gmail.com</a>
        </options>
    </optionsButNoBack>
</body>