<div class="text-center">
  <h1>
    About the Developer
  </h1>
  <ul>
    <text>My name is James Kong, and I am an undergraduate at Brandeis University pursuing a B.S degree in Computer Science. I have always had a mindset of perseverance, and I welcome all forms of collaboration with others. I have experience with OOP and data structures in Java from school courses and independent projects made for fun. During my spare time, I also enjoy teaching introductory Python to younger kids.</text>
    <br><br>
  <img src="/images/jimmy.jpeg" alt="Picture of Me! :)" width="25%" style="border: 2px solid maroon; padding:4px"/>
  <br><br>
  <a href="https://www.linkedin.com/in/jamesdemingkong/">Linkedin</a>
   <br>
   <a href="https://github.com/jameskong098">Github</a>
   <br><br>
  </ul>
</div>
