<head>
  <title>Max Goodman's Website</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body> 
  <options>
      <div class="backButton" id="button-2">
          <div id="slide"></div>
          <a href="/index">Back</a><br><br>
      </div>
  </options>
  <optionsButNoBack style="font-size: 25px">
      <h1 style="text-decoration:underline; width: 600px; text-align:center">
      About Me
      </h1>
      <div style="display:flex; flex-direction:column; width:950px; align-items:center">
          <img src="/images/Max.jpg" alt="Picture of Me! :)" style="background: rgba(190, 189, 189, 0.5); padding:15px; min-width:300px; max-width:350px; min-height:307px"/><br>
          <options style="font-size:21px; padding:15px">
              <text>Just a student trying to make movies.

                I’m 19, probably 20 now actually, just too lazy to change this. What can I say to make you, my audience, understand who I am and what I represent? That’s a tough one. On the one hand, I can spew bullshit about my talents and skills (of which I only have one and that’s a willingness to please any and all human beings no matter what), but that’s rather boring. The only ones who care about that are those for whom I wish to work for. Notice I say “for” and not “with.” “With” is applied to films that are inherently film: a collaborative process where hierarchy matters not and chaotic fun and self-discipline rule over all. I suppose that’s my bullshit.
                
                I enjoy directing, writing, animating, designing, filming, plagiarizing, fighting, and lofting. I am not awfully good but I am trying every day to be better. As I said, I’m just a student trying to make movies.
                
                Let’s see, I like horror but would see myself working on children's films. I have huge respect for successfully cinematic children's films (and no I don’t mean if Christopher Nolan directed Finding Nemo). I often write in tangents and roughly because it feels most pure and honest… and pretentious. Right now the hardest thing for me is making a movie. It’s really hard in all honesty. And every day I try to improve (although somedays I tend to falter).
                
                I like to help with other sets as well. I either fuel my ego by how much of a disaster the production is or gain something new with how well it goes (don’t worry I’m easy to please).
                
                I reside in New York in the East Village, I attend New York University like the suck-up ass kisser I am, and I enjoy watching, making, and sleeping through movies.
                </text>
          </options>
      </div>
      <br>
      <options style="display: flex; flex-direction:row; font-size: 25px; padding:15px">
      <a style="text-decoration:underline" href="https://vimeo.com/maxgoodman">Vimeo</a>
      <text> | </text>
      <a style="text-decoration:underline" href="mailto: mggoodman2002@gmail.com">mggoodman2002@gmail.com</a>
      </options>
  </optionsButNoBack>
</body>
