<link rel="stylesheet" href="/stylesheets/style.css">

<head>
    <title>Max Goodman's Website</title>
</head>

<body> 
    <text style="font-size:60px">Max Goodman</text><br><br>
    <options>
        <text>Short Films</text>
        <text>About Me</text>
        <text>Email Me</text>
    </options>
</body>
    


    

