

    <div class="jumbotron">
        <h1 class="text-center m-2">Your go to spot for secure diary entries!</h1>
        <p></p>
    </div>

    <p class="p-4 m-4 border">
        Diary drive is a secure place for you to store all of your diary needs. Each entry will require the user enter in a title, a rating from 1-5 (1 being the worst and 
        5 being the best), a entry description, and a date creation time. Our secure website will store all of your entries throughout the years. Here
        are just a few examples of what your entries could look like!
    </p>
    
    <div class="p-1 border">
        <div class="mb-2">          
            <b class="m-2">Title:</b>My fun day at Fantasize Amusement park near Pune!<br><br>
            <b class="m-2">Rating (1-5):</b>5<br> <br>
            <b class="m-2">My Entry:</b><br><br>
            <i class="m-2">Dear Diary,
                I woke up at 6 oclock in the morning. We had breakfast and dressed up. Today we all went to Fantasize Amusement park near Pune. We started from home at 7 oclock. As soon as we reached there, we bought our tickets and went inside. I was so excited seeing the rides. My parents and brother liked the Thunderfall ride. My favorite rides were Water Splash, Caterpillar Ride, Wave Pool and Pirate Ship. After a couple of hours, we had our lunch. In the afternoon we had the scariest ride that is the Space Gun. We got back to our home in the evening. It was a great day and I enjoyed a lot. 
                Sammy.</i><br> <br>
            <b class="m-2">Date created:</b>Sun May 01 2022 20:09:36 GMT-0400 (Eastern Daylight Time) </b>
        </div>
        <hr>
        <div class="mb-2">          
            <b class="m-2">Title:</b>Charles Darwin Example Entry<br><br>
            <b class="m-2">Rating (1-5):</b>4<br> <br>
            <b class="m-2">My Entry:</b><br><br>
            <i class="m-2">The Mayór-domo took us in his boat to the Salina, which is situated about 6 miles down the coast. We crossed a bare & apparently recent stream of Lava which had flowed round an ancient but very perfect Crater. At the bottom of this Crater is a Lake, which is only 3 or 4 inches deep & lies on layers of pure & beautifully Crystallized Salt. The Lake is quite circular & fringed with bright green succulent plants; the sides of [the] Crater are steep & wooded, so that the whole has rather a pretty appearance. A few years since in this quiet spot the crew of a Sealing vessel murdered their Captain. We saw the skull lying in the bushes. In rocky parts there were great numbers of a peculiar Cactus, whose large oval leaves connected together, formed branches rising from a cylindrical trunk. In places also a Mimosa was common; the shade from its foliage was very refreshing, after being exposed in the open wood to the burning Sun.
            </i><br> <br>
            <b class="m-2">Date created:</b>Sun October 11 1835 18:03:10 GMT-0400 (Eastern Daylight Time) </b>
        </div>
        <hr>
        <div class="mb-2">          
            <b class="m-2">Title:</b>George Orwell Example Entry<br><br>
            <b class="m-2">Rating (1-5):</b>2<br> <br>
            <b class="m-2">My Entry:</b><br><br>
            <i class="m-2">Ghastly feeling of impotence over the India business, Churchill’s speeches, the evident intention of the blimps to have one more try at being what they consider tough, and the impudent way in which the newspapers can misrepresent the whole issue, well knowing that the public will never know enough or take enough interest to verify the facts. This last is the worst symptom of all – though actually our own apathy about India is not worse than the non-interest of Indian intellectuals in the struggle against Fascism in Europe.
            </i><br> <br>
            <b class="m-2">Date created:</b>Tues September 15 1942 15:01:34 GMT-0400 (Eastern Daylight Time) </b>
        </div>
        <hr>
    </div>
    
    

