<link rel="stylesheet" href="/stylesheets/style.css">

<head>
    <title>Max Goodman's Website</title>
</head>

<body> 
    <options>
        <text style="font-size:60px; text-decoration:underline">Max Goodman</text><br><br>
        <text>Films</text><br><br>
        <text>Animations</text><br><br>
        <text>About</text><br><br>
        <text>Contact Me</text><br><br>
    </options>
</body>
    


    

