<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body> 
    <optionsButNoBack>
        <a style="font-size:90px; text-decoration:underline;" href="/index">Maxwell Goodman</a>
    </optionsButNoBack><br><br>
    <options style="padding:12px">
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/films">Films</a><br><br>
        </div>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/animations">Animations</a><br><br>
        </div>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/reviewsPosts">Reviews/Posts</a><br><br>
        </div>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/about">About</a><br><br>
        </div>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="mailto: jameskong098@gmail.com">Contact Me</a><br><br>
        </div>
        <footer style="text-align:center">
            <% if (!loggedIn) {%>
                <a style="font-size:15px;" href="/login">Admin Login |</a>
            <% } else { %>
                <a style="font-size:15px;" href="/logout">Log Out |</a>
            <% } %>
            <a style="font-size:15px;" href="/aboutDeveloper">About the Developer</a>
        </footer>
    </options><br><br>
</body>
    


    

