<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <options>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/index">Back</a><br><br>
        </div>
    </options>
    <div style="text-align: center; border: solid 2px; border-color:white; width: fit-content; margin:auto; padding: 15px">
        <text style="font-size:300%">Admin Login</text>
        <form class="bg-light" method="post" action="/login"><br>
            <text style="font-size:150%">Username: </text>
            <input type="text"
                autocomplete="username"
                name="username">
                <br><br>
            <text style="font-size:150%">Password: </text>
            <input type="password"
                autocomplete="passphrase"
                name="passphrase"><br><br><br>
            <text>Don't have an account? Click here to </text><a style="color:blue; text-decoration:underline" href="/signupPage">signup</a><br><br>
            <input type="submit">
            <br><br>
        </form>
    </div>
</body>



