
<div style="text-align: center">
    <text style="font-size:350%">Login to see your entries!</text>
    <hr style="width: 45%; margin: 0 auto"><br><br>
        <form class="bg-light" method="post" action="/login"><br>
            <text style="font-size:150%">Username: </text>
            <input type="text"
                autocomplete="username"
                name="username">
                <br><br>
            <text style="font-size:150%">Password: </text>
            <input type="password"
                autocomplete="passphrase"
                name="passphrase"><br><br><br>
            Don't have an account? Click here to <a href="/signupPage">signup</a><br><br>
            <input type="submit">
            <br><br>
        </form>
</div>
    



