<div style="text-align: center">
    <text style="font-size:350%">Create your account</text>
    <hr style="width: 45%; margin: 0 auto"><br><br>
    <form class="bg-light" method="post" action="/signup">
        <text style="font-size:150%">Username: </text>
        <input type="text" autocomplete="username" name="username"><br><br>
        <text style="font-size:150%">Password: </text>
           <input type="password" autocomplete="passphrase" name="passphrase"><br><br>
        <text style="font-size:150%">Confirm Password: </text>
        <input type="password" name="passphrase2"><br><br>
        <input type="submit"><br><br>
    </form>
</div>