body {
    height: 100vh;
    background-image: url('/images/StarryNightSky.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.lineSep {
    border-color:white;
    width: 450px
}

.pageTitle {
    font-size:60px; 
    text-decoration: underline; 
    width: 550px; 
    text-align:center; 
    color:white;
}

.aboutTitle {
    text-decoration:underline; 
    width: 600px; 
    text-align:center; 
    color:white
}

.vidOptions {
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    flex-direction: column;
    background: rgba(172, 172, 172, 0.6); 
    width: fit-content; 
    margin:auto;
    resize:none;
    color: white
}

options {
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.6); 
    width: fit-content; 
    margin:auto;
    resize:none;
    color: white
}

.textFormat {
    word-wrap: break-word; 
    white-space: break-spaces;
}

.options {
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    flex-direction: column;
    background: rgba(190, 189, 189, 0.5); 
    width: fit-content; 
    margin:auto;
    resize:none;
    color: white
}

.b1 {
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    flex-direction: column;
    resize:none;
    color: white
}

optionsButNoBack {
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    flex-direction: column;
    resize:none;
    color: white
}

back {
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(190, 189, 189, 0.5); 
    width: fit-content; 
    margin:auto;
    resize:none
}

/*
Credit to Alex Loomer for the button styles and animations!
https://codepen.io/atloomer
*/

a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

.backButton {
    display: inline-flex;
    height: 50px;
    width: 140px;
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button {
    display: inline-flex;
    height: 50px;
    width: 280px;
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
  
#button-2 a {
    color:black;
    position: relative;
    transition: all .35s ease-Out;
}
  
#slide {
    width: 100%;
    height: 100%;
    left: -280px;
    background: black;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}
  
#button-2:hover #slide {
    left: 0;
}
  
#button-2:hover a {
    color: white;
}
