body {
    height: 100vh;
    background-image: url('/images/windowsXPwallpaper.jpg');
    background-size: cover;
}

options {
    font-size:40px;
    display:flex;
    align-items: center;
    flex-direction: column;
}